body{
    background-color: #353a40;
    color: white
}
img.topLogo{
    width: 20%
}

.navbar{
    border-bottom: #A31A20 3px solid;
    opacity: 0.8
}

#home-section {
    background: url(../Images/acropolis.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 700px;
    text-align: right;
    }

#home-section .dark-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 700px;
    background-color: #a31a206b;
}

#home-section .home-inner{
    padding-top: 150px;
}
#engDev{
position: absolute;
bottom: 0;
right: 0
}

.display-4{
 color: #A31A20
}

.eng{
    font-size: 120px;
    color: #fff6f6;
    text-shadow: 1px 1px 1px black;
    bottom: -50px;
    position: absolute;
    top: -30px;
    right: 50px;
}

.deliv{
    font-size: 200px;
    color: #a31a20;
    text-shadow: 1px 1px 1px black;
    position: relative;
    mix-blend-mode: color-burn;
}
#technology-head-section{
    background-color: white;
}
.card{
        background-color: #610f13;
        float: left;
        box-shadow: 1px 1px 1px black;
        margin-right: 15px;
        margin-top: 8px;
    }
